html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position: relative;
  /* --------- CLASY SPECJALNE --------- */
}
html a,
body a,
html button,
body button {
  text-decoration: none;
  cursor: pointer;
}
html nav,
body nav {
  padding: 35px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
html nav .logo,
body nav .logo {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
  color: #f1f1f1;
}
html nav ul,
body nav ul {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}
html nav ul li,
body nav ul li {
  display: inline-block;
  margin-left: 20px;
  height: 25px;
  line-height: 22px;
}
html nav ul li a,
body nav ul li a {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
  color: #f1f1f1;
}
html header,
body header {
  height: 100vh;
  position: relative;
  background-image: url(images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  color: #f1f1f1;
}
html header:after,
body header:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(43, 48, 65, 0.846);
  position: absolute;
  z-index: 0;
  top: 0;
}
html header .slider,
body header .slider {
  display: flex;
  flex-wrap: wrap;
  width: 768px;
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html header .slider .left,
body header .slider .left {
  width: 75%;
  min-width: 480px;
}
html header .slider .left h2,
body header .slider .left h2 {
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 10px;
}
html header .slider .right,
body header .slider .right {
  width: 25%;
  min-width: 160px;
  position: relative;
}
html header .slider .right .play,
body header .slider .right .play {
  display: block;
  background-color: #33363F;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 10px 30px -10px #000000;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
html header .info-panels,
body header .info-panels {
  display: flex;
  width: 768px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
}
html header .info-panels .panel,
body header .info-panels .panel {
  width: 25%;
  min-width: 160px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
html header .info-panels .panel .icon,
body header .info-panels .panel .icon {
  width: 50px;
  height: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: 10px;
}
html header .info-panels .panel p,
body header .info-panels .panel p {
  margin: 0;
  font-weight: 100;
  font-size: 12px;
  line-height: 1.5;
}
html header .info-panels .panel.active,
body header .info-panels .panel.active {
  border-bottom: 5px solid #44cf72;
}
html .arrows,
body .arrows {
  width: 100%;
}
html .arrows > span,
body .arrows > span {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  font-size: 20px;
}
html .arrows > span:first-child,
body .arrows > span:first-child {
  margin-left: 0;
}
html .arrows > span.active,
body .arrows > span.active {
  color: #f1f1f1;
}
html .about,
body .about {
  display: flex;
  padding: 80px 25px 0 25px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
html .about .description,
body .about .description {
  text-align: right;
  width: 200px;
  min-width: 250px;
  margin-left: auto;
  line-height: 1.5;
}
html .about .description .special-line,
body .about .description .special-line {
  margin-left: auto;
}
html .about .image,
body .about .image {
  width: 50%;
  min-width: 500px;
  height: 550px;
  margin-left: 40px;
  box-shadow: -5px 0 50px -20px #000000;
  overflow: hidden;
}
html .about .image img,
body .about .image img {
  width: 1200px;
  transform: translate(-30%, -15%) scale(0.7);
  filter: grayscale(1);
}
html .about:after,
body .about:after {
  content: '';
  width: 450px;
  height: 900px;
  display: block;
  position: absolute;
  z-index: 2;
  transform: rotate(40deg);
  top: -20px;
  right: -115px;
  background-color: rgba(25, 182, 78, 0.8);
}
html .about .arrows,
body .about .arrows {
  position: absolute;
  z-index: 3;
  bottom: 25px;
  right: 50px;
  width: auto;
}
html .good-work,
body .good-work {
  display: flex;
  padding: 80px 25px;
  background-color: #33363F;
  position: relative;
}
html .good-work .description,
body .good-work .description {
  text-align: left;
  width: 200px;
  min-width: 250px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  color: #f1f1f1;
}
html .good-work .description .special-line,
body .good-work .description .special-line {
  margin-right: auto;
  transform: rotate(90deg) translate(-80px, 50px);
}
html .good-work .image,
body .good-work .image {
  width: 480px;
  box-shadow: -15px 15px 80px -10px #000000;
}
html .good-work .image img,
body .good-work .image img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
}
html .workers,
body .workers {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  position: relative;
}
html .workers .section-title,
body .workers .section-title {
  width: 100%;
}
html .workers .section-title h1,
body .workers .section-title h1 {
  width: 250px;
}
html .workers .employees,
body .workers .employees {
  display: flex;
  flex-wrap: wrap;
}
html .workers .employees .employee,
body .workers .employees .employee {
  width: calc(25% - 20px);
  min-width: 200px;
  margin: 15px 10px;
  position: relative;
}
html .workers .employees .employee img,
body .workers .employees .employee img {
  width: 100%;
}
html .workers .employees .employee p,
body .workers .employees .employee p {
  padding: 10px 15px;
  background-color: #33363F;
  color: #f1f1f1;
  font-weight: 100;
  line-height: 1.5;
  font-size: 14px;
  margin: -4px 0 0 0;
}
html .workers .employees .employee p b,
body .workers .employees .employee p b {
  text-transform: uppercase;
}
html .workers .employees .employee.active:after,
body .workers .employees .employee.active:after {
  content: '+';
  display: block;
  width: 100%;
  height: calc(100% - 62px);
  background-color: rgba(25, 182, 78, 0.8);
  color: #f1f1f1;
  line-height: calc(100vh/2);
  position: absolute;
  top: 0;
  z-index: 3;
  text-align: center;
  font-size: 3em;
}
html .meet-us,
body .meet-us {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #f1f1f1;
  padding: 80px 80px 160px 80px;
  background-image: url("images/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html .meet-us .special-line,
body .meet-us .special-line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) rotate(90deg);
}
html .meet-us > *,
body .meet-us > * {
  width: 100%;
  z-index: 3;
}
html .meet-us .meet-text h1,
body .meet-us .meet-text h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
html .meet-us .meet-text p,
body .meet-us .meet-text p {
  width: 250px;
  margin: 50px auto;
}
html .meet-us:after,
body .meet-us:after {
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(43, 48, 65, 0.846);
}
html footer,
body footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  color: #f1f1f1;
}
html footer > .logo,
body footer > .logo {
  margin-right: auto;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 2em;
}
html footer > .copy,
body footer > .copy {
  margin-left: auto;
  margin-top: 0;
}
html .randomize-btn,
body .randomize-btn {
  border: 0;
  background: transparent;
  padding: 5px 10px;
  border-radius: 25px;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 12px;
  height: 30px;
}
html .double-btn > button,
body .double-btn > button {
  margin: 0 10px;
}
html .btn-green,
body .btn-green {
  background-color: #44cf72;
  border-radius: 25px;
}
html .bordered-btn,
body .bordered-btn {
  border: 2px solid #44cf72;
}
html .special-color,
body .special-color {
  color: #44cf72;
  font-weight: bold;
}
html .special-link,
body .special-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
html .special-line,
body .special-line {
  width: 100px;
  height: 2px;
  background: #44cf72;
  display: block;
}
